.service-de{
    width: 1000px;
    font-size: 17px;
}

.service-img{
    width: 400px;
}

@media only screen and (max-width: 1024px) {
    .service-de{
        width: 90%;
        padding: 10px;
    }
    .service-img{
        width: 90%;
    }
}