.app-bar{
    width: auto;
    border-radius: 10px;
    box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.5);
}

.special-button-right{
    border-radius: 0px 10px 10px 0px;
}

.special-button-left{
    border-radius: 10px 0px 0px 10px;
}