.blog-item{
    width: 1000px;
    border: solid rgba(116, 104, 104, 0.308) 1px;
    margin: 20px 0px;
    display: flex;
}

.blog-heading{
    font-size: 20px;
    color: #153944;
}

.blog-heading:hover{
    color: #824780;
}