.flex-wrap{
    display: flex;
    width: 1000px;
    padding: 20px;
}

.text-wrapper{
    padding: 70px;
}

@media only screen and (max-width: 1024px) {
    .flex-wrap{
        flex-direction: column;
        align-items: center;
        justify-items: center;
    }
    .text-wrapper{
        padding: 0px;
        max-width: 80vw;
    }
  }