.mobile{
  display: none;
}
.desktop{
  width: 100%;
  padding: 0 30%;
  background-color: green;
}
.appBar{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}